[Unit]
Description=Keyleds LED controller for Logitech keyboards
After=graphical-session.target

[Service]
ExecStart=/usr/bin/keyledsd -v -c keyledsd/keyledsd.conf
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
